/* Imported Google font: Mulish and Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;800&display=swap");

/* CSS variables */
:root {
  --mainColor: #ff5400;
  --heading: #131318;
  --darkMenu: #424247;
  --white: #ffffff;
  --input: rgba(19, 19, 24, 0.5);
  --inputFooter: rgba(19, 19, 24, 0.3);
  --paragraph1: rgba(19, 19, 24, 0.7);
  --paragraph2: #5a5a5d;
  --footerBG: rgba(19, 19, 24, 0.05);
}

/* Common shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Mulish", sans-serif;
}
h2,
h3,
h4 {
  font-weight: 800;
  font-family: Mulish;
  color: var(--heading);
}
h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.container {
  width: 80%;
  /* max-width: 1440px; */
  margin: 3rem auto;
}
.container > p {
  max-width: 600px;
  margin: 24px auto;
}
.center {
  text-align: center;
}
.btn-primary {
  border-radius: 0.5rem;
  background: var(--mainColor);
  color: var(--white);
  padding: 14px 35px;
  border: 0;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}
header span,
footer span {
  color: var(--mainColor);
}
img {
  width: 100%;
  height: auto;
}

/* Header styles */
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: 2.2rem;
  height: 2rem;
}
header .navbar .logo h3 {
  font-size: 2.25rem;
}
header .navbar nav > ul {
  display: inline-flex;
  align-items: center;
  gap: 44px;
}
header .navbar nav i {
  display: none;
}
header .navbar nav > ul li {
  list-style: none;
  padding: 1rem 0px;
}
header .navbar nav > ul li a {
  text-decoration: none;
  color: var(--darkMenu);
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 0.5s;
}
header .navbar nav > ul li:hover a {
  color: var(--mainColor);
}
/* Banner styles */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png") no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  color: var(--white);
  padding: 6.5rem;
  margin-top: 3rem;
}
.banner h1 {
  font-family: Mulish;
  font-size: 4rem;
  font-weight: 800;
}
.banner p {
  margin: 1.5rem auto;
}
.banner .banner-form {
  display: inline-flex;
  padding: 1rem;
  width: 90%;
  gap: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
}
.banner .banner-form input,
.banner .banner-form select,
.banner .banner-form button {
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  border: 0;
}
.banner .banner-form input,
.banner .banner-form select {
  background: #fff;
  color: var(--input);
}

/* main-container */
.main-container {
  margin: 50px auto;
}
/* Popular Tours styles */
.popularTours {
  display: flex;
  align-items: center;
  gap: 50px;
}
.popularTours .contents p {
  margin: 1.5rem auto;
  color: var(--paragraph1);
}
.popularTours .contents ul {
  margin: 1.5rem auto;
}
.popularTours .contents ul li {
  margin: 1rem;
  color: var(--paragraph1);
}
.popularTours .contents .paragraph2 {
  color: var(--paragraph2);
}

/* Destination styles */
.destination p {
  color: var(--paragraph1);
}
.destination-country {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.destination-country img {
  border-radius: 16px;
  height: 250px;
}
#maldives {
  flex-grow: 1;
  width: 45%;
}
#indonesia {
  flex-grow: 1;
  width: 45%;
}
#srilanka {
  flex-grow: 3;
  width: 30%;
}
#north-america {
  flex-grow: 5;
  width: 40%;
}
#kashmir {
  flex-grow: 2;
  width: 25%;
}
#bangladesh {
  flex-grow: 4;
  width: 35%;
}
#bandarban {
  flex-grow: 6;
  width: 40%;
}
.destination-country .country-img-container {
  position: relative;
}
.visiting-place {
  position: absolute;
  color: var(--white);
  top: 50%;
  width: 100%;
  text-align: center;
}
.visiting-place h4 {
  font-size: 1.75rem;
}

/* Why choose us styles */
.why-choose-us p {
  color: var(--paragraph1);
}
.why-choose-us .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.why-choose-us .card-container .card {
  width: calc(50% - 1rem);
}
.why-choose-us .card-container .card img {
  width: 5rem;
}
.why-choose-us .card-container .card .card1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 2rem;
}
.why-choose-us .card-container .card .card2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 2rem;
}
.why-choose-us .card-container .card .card3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 2rem;
}
.why-choose-us .card-container .card h3 {
  font-size: 1.25rem;
  margin: 1rem auto;
}

/* Deals & Discounts styles */
.discounts,
.discounts-reverse {
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
}
.discounts {
  background: url("../images/Group39.png") no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: flex-end;
}
.discounts-reverse {
  background: url("../images/Group40.png") no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: flex-start;
}
.discounts .deals-details,
.discounts-reverse .deals-details {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 3rem;
  max-width: 450px;
}
.discounts .deals-details ul,
.discounts-reverse .deals-details ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.discounts .deals-details ul li,
.discounts-reverse .deals-details ul li {
  list-style: none;
}
.discounts .deals-details ul li i,
.discounts-reverse .deals-details ul li i {
  color: var(--mainColor);
}
.discounts .deals-details h2,
.discounts-reverse .deals-details h2 {
  font-size: 1.5rem;
}
.discounts .deals-details p,
.discounts-reverse .deals-details p {
  color: var(--paragraph2);
  margin: 1rem auto;
}
.discounts .deals-details h4,
.discounts-reverse .deals-details h4 {
  color: var(--mainColor);
  margin-bottom: 1.5rem;
}

/* Simple Perfect Place styles */
.perfect {
  display: flex;
  gap: 50px;
}
.perfect .contents {
  width: 100%;
}
.perfect .contents p {
  color: var(--paragraph2);
  margin: 1.5rem auto;
}
.perfect .contents ul {
  margin: 1.5rem auto;
}
.perfect .contents ul li {
  margin: 1rem;
  color: var(--heading);
  font-weight: 700;
  line-height: 26px;
  font-size: 1rem;
}
.perfect .video {
  width: 100%;
  border-radius: 1rem;
}
.perfect .video iframe {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* Newsletter styles */
.newsletter {
  display: flex;
  gap: 1rem;
}
.newsletter .contents {
  padding: 3rem;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter .contents p {
  margin-top: 1rem;
  color: var(--paragraph2);
}
.newsletter .contents hr {
  background: rgba(19, 19, 24, 0.1);
  margin: 1.5rem auto;
  width: 100%;
}
.newsletter .contents input {
  width: calc(100% - 2rem);
  padding: 1rem;
  border: 0;
  margin-bottom: 1rem;
}
.newsletter .contents input[type="text"],
.newsletter .contents input[type="email"] {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
}
.newsletter .contents button {
  width: 100%;
}
.newsletter .newsletter-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.newsletter .newsletter-img .save70 {
  position: absolute;
  right: 5px;
  bottom: 45px;
  background-color: var(--mainColor);
  color: var(--white);
  transform: rotate(-19.628deg);
  padding: 1.5rem;
  border-radius: 1rem;
}
.newsletter .newsletter-img .save70 h3 {
  color: var(--white);
  font-size: 2rem;
}

/* Footer styles */
footer {
  background-color: var(--footerBG);
  padding: 110px 0;
}
footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .logo h3 {
  font-size: 2rem;
}
footer .container > p {
  color: var(--paragraph2);
  font-size: 14px;
  max-width: 750px;
  margin: 30px auto;
}
footer .icons a {
  padding: 1rem;
  font-size: 2rem;
  color: var(--heading);
}
footer hr {
  max-width: 872px;
  background: rgba(19, 19, 24, 0.1);
  margin: 50px auto;
}
footer .copyright {
  font-family: Inter;
  font-weight: 300;
}

/* Responsive Media queries */
/* ======================== */
/* Small Devices: max-width: 600px */
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 1.5rem auto;
  }
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 14px;
  }
  header .navbar nav > ul {
    display: none;
  }
  header .navbar nav i {
    display: block;
  }
  .banner {
    padding: 1rem;
    margin-top: 1rem;
  }
  .banner h1 {
    margin-top: 2rem;
    font-size: 22px;
  }
  .banner .banner-form,
  .popularTours,
  .destination-country,
  .why-choose-us .card-container,
  .perfect,
  .newsletter {
    flex-direction: column;
    gap: 1.5rem;
  }
  .banner .banner-form input {
    width: auto;
  }
  #maldives,
  #indonesia,
  #srilanka,
  #north-america,
  #kashmir,
  #bangladesh,
  #bandarban {
    width: 100%;
  }
  .destination-country img {
    height: 175px;
  }
  .why-choose-us .card-container .card {
    width: 100%;
  }
  .why-choose-us .card-container .card .card1,
  .why-choose-us .card-container .card .card2,
  .why-choose-us .card-container .card .card3 {
    padding: 1.25rem;
  }
  .discounts,
  .discounts-reverse {
    padding: 10px;
  }
  .discounts .deals-details,
  .discounts-reverse .deals-details {
    margin: 50% 14px 14px 14px;
    padding: 1rem;
  }
  .perfect .video {
    height: 300px;
  }
  .perfect .contents ul li {
    font-size: 14px;
  }
  .newsletter .contents {
    padding: 1.5rem;
  }
  .newsletter .newsletter-img h3 {
    font-size: 1rem;
  }
  footer {
    padding: 1rem 0;
  }
  footer .logo h3 {
    font-size: 22px;
  }
  footer hr {
    margin: 20px auto;
  }
  footer .container > p {
    margin: 1rem auto;
    font-size: 14px;
  }
}

/* Tablets: min-width: 600px and max-width: 992px */
@media screen and (min-width: 600px) and (max-width: 992px) {
  header .navbar,
  .banner .banner-form,
  .perfect,
  .newsletter {
    flex-direction: column;
  }
  .banner {
    padding: 1rem;
  }
  .banner h1 {
    margin-top: 3rem;
  }
  .banner .banner-form input {
    width: auto;
  }
  .perfect .video {
    height: 350px;
  }
  footer {
    padding: 1rem 0;
  }
}
